<br>
<h1>Camisetas en venta</h1>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Camiseta</th>
            <th>Equipo</th>
            <th>Año</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(tshirt of tshirts | async; track tshirt.name){
        <tr [ngClass]="{'clearance' : tshirt.clearance}">
            <td><img [src]="tshirt.image" [alt]="tshirt.name"></td>
            <td>{{tshirt.name}}</td>
            <td>{{tshirt.year}}</td>
            <td>${{tshirt.price}}</td>
            @if (tshirt.stock > 0) {
            <td>{{tshirt.stock}}</td>
            }
            @else {
            <td><span class="bg-warning">SIN STOCK</span></td>
            }
            <td>
                @if(tshirt.stock){
                <app-input-integer [(quantity)]="tshirt.quantity" [max]="tshirt.stock"></app-input-integer>
                }
            </td>
            <td>
                @if(tshirt.stock > 0){
                <button class="btn btn-primary" (click)="addToCart(tshirt)">Comprar</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>